/* screen - add-staff-for-admin-sun */

.add-staff-for-admin-sun {
  background-color: var(--white);
  height: 2065px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1960px;
}

.add-staff-for-admin-sun .navbar-hOIqM9 {
  background-color: transparent;
  height: 164px;
  left: -3px;
  position: absolute;
  top: -25px;
  width: 1963px;
}

.add-staff-for-admin-sun .nav_background-ehf7l0 {
  background-color: var(--tundora-2);
  height: 101px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  width: 1963px;
}

.add-staff-for-admin-sun .ellipse-1-ehf7l0 {
  background-color: var(--mist-gray);
  border-radius: 58.5px/43px;
  height: 86px;
  left: 1830px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 117px;
}

.add-staff-for-admin-sun .movie-logo-ehf7l0 {
  background-color: transparent;
  height: 139px;
  left: 10px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 164px;
}

.add-staff-for-admin-sun .group-48-ehf7l0 {
  background-color: transparent;
  height: 71px;
  left: 516px;
  position: absolute;
  top: 47px;
  width: 212px;
}

.add-staff-for-admin-sun .rectangle-76-vMndx1 {
  background-color: transparent;
  height: 58px;
  left: 11px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 194px;
}

.add-staff-for-admin-sun .add-staff-vMndx1 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 210px;
}

.add-staff-for-admin-sun .group-47-ehf7l0 {
  background-color: transparent;
  cursor: pointer;
  height: 68px;
  left: 211px;
  position: absolute;
  top: 47px;
  width: 247px;
}

.add-staff-for-admin-sun .rectangle-74-gvaWWa {
  background-color: var(--mist-gray);
  height: 58px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 245px;
}

.add-staff-for-admin-sun .staff-list-gvaWWa {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 225px;
}

.add-staff-for-admin-sun .add-staff-information-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 209px;
  width: 581px;
}

.add-staff-for-admin-sun .fill-in-staff-id-hOIqM9 {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 381px;
  width: 518px;
}

.add-staff-for-admin-sun .fill-in-first-name-hOIqM9 {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 472px;
  width: 518px;
}

.add-staff-for-admin-sun .fill-in-last-name-hOIqM9 {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 563px;
  width: 518px;
}

.add-staff-for-admin-sun .fill-in-position-hOIqM9 {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 654px;
  width: 518px;
}

.add-staff-for-admin-sun .fill-in-birth-date-hOIqM9 {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 745px;
  width: 518px;
}

.add-staff-for-admin-sun .fill-in-email-hOIqM9 {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 836px;
  width: 518px;
}

.add-staff-for-admin-sun .fill-in-telenum-hOIqM9 {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 927px;
  width: 518px;
}

.add-staff-for-admin-sun .fill-in-gender-hOIqM9 {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1018px;
  width: 518px;
}

.add-staff-for-admin-sun .fill-in-password-hOIqM9 {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1109px;
  width: 518px;
}

.add-staff-for-admin-sun .fill-in-password-DaMRoS {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 343px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1299px;
  width: 518px;
}

.add-staff-for-admin-sun .staff-id-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 383px;
  width: 172px;
}

.add-staff-for-admin-sun .theater-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 171px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1301px;
  width: 172px;
}

.add-staff-for-admin-sun .monday-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 171px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1406px;
  width: 172px;
}

.add-staff-for-admin-sun .tuesday-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 171px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1492px;
  width: 172px;
}

.add-staff-for-admin-sun .wednesday-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 159px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1587px;
  width: 172px;
}

.add-staff-for-admin-sun .thursday-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 159px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1679px;
  width: 172px;
}

.add-staff-for-admin-sun .friday-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 159px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1754px;
  width: 172px;
}

.add-staff-for-admin-sun .saturday-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 159px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1840px;
  width: 172px;
}

.add-staff-for-admin-sun .sunday-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 159px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1926px;
  width: 172px;
}

.add-staff-for-admin-sun .first-name-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 477px;
  width: 172px;
}

.add-staff-for-admin-sun .last-name-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 562px;
  width: 172px;
}

.add-staff-for-admin-sun .postion-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 77px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 653px;
  width: 172px;
}

.add-staff-for-admin-sun .date-of-brith-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 753px;
  width: 200px;
}

.add-staff-for-admin-sun .telephone-number-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 910px;
  width: 200px;
}

.add-staff-for-admin-sun .email-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 840px;
  width: 200px;
}

.add-staff-for-admin-sun .gender-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1021px;
  width: 200px;
}

.add-staff-for-admin-sun .password-hOIqM9 {
  background-color: transparent;
  height: auto;
  left: 71px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1103px;
  width: 200px;
}

.add-staff-for-admin-sun .group-41-hOIqM9 {
  background-color: transparent;
  height: 97px;
  left: 1359px;
  position: absolute;
  top: 604px;
  width: 176px;
}

.add-staff-for-admin-sun .upload-picture-button-rHZxzH {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 91px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 174px;
}

.add-staff-for-admin-sun .upload-picture-rHZxzH {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 174px;
}

.add-staff-for-admin-sun .picture-of-staff-hOIqM9 {
  background-color: var(--quill-gray);
  height: 419px;
  left: 1230px;
  mix-blend-mode: normal;
  position: absolute;
  top: 164px;
  width: 430px;
}

.add-staff-for-admin-sun .rectangle-78-hOIqM9 {
  background-color: var(--mist-gray);
  height: 24px;
  left: 343px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1418px;
  width: 25px;
}

.add-staff-for-admin-sun .rectangle-79-hOIqM9 {
  background-color: var(--mist-gray);
  height: 24px;
  left: 342px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1501px;
  width: 25px;
}

.add-staff-for-admin-sun .rectangle-80-hOIqM9 {
  background-color: var(--mist-gray);
  height: 24px;
  left: 343px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1591px;
  width: 25px;
}

.add-staff-for-admin-sun .rectangle-81-hOIqM9 {
  background-color: var(--mist-gray);
  height: 24px;
  left: 342px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1688px;
  width: 25px;
}

.add-staff-for-admin-sun .rectangle-82-hOIqM9 {
  background-color: var(--mist-gray);
  height: 24px;
  left: 343px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1763px;
  width: 25px;
}

.add-staff-for-admin-sun .rectangle-83-hOIqM9 {
  background-color: var(--mist-gray);
  height: 24px;
  left: 343px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1846px;
  width: 25px;
}

.add-staff-for-admin-sun .rectangle-84-hOIqM9 {
  background-color: var(--mist-gray);
  height: 24px;
  left: 342px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1936px;
  width: 25px;
}
