/*-----Lable-----*/

.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#Top-Text{
    font-size: 3em;
    position: absolute;
    color: #ffffff;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
}

/*-----Spiderman Content-----*/

#No-Way-Home{
    position: absolute;
    height: 25%;
    width: auto;
    top: 35%;
    left: 10%;
}
.box1 {
    position: absolute;
    height: 25%;
    width: 338px;
    background-color: #737373;
    top: 50%;
    left: 10%;
}
#No-Way-Home-Banner{
    position: absolute;
    height: 23%;
    width: auto;
    top: 50%;
    left: 12%;
}
#No-Way-Home-Text-A{
    position: absolute;
    font-size: 1.5em;
    color: #ffffff;
    top: 62%;
    left: 22%;
}
#No-Way-Home-Text-B{
    position: absolute;
    font-size: 1.5em;
    color: #ffffff;
    top: 67%;
    left: 21%;
}

/*-----Atelophobia Content-----*/

#Atelophobia{
    position: absolute;
    height: 25%;
    width: 320px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.box2 {
    position: absolute;
    height: 25%;
    width: 320px;
    background-color: #737373;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#Atelophobia-Banner{
    position: absolute;
    height: 23%;
    width: auto;
    top: 50%;
    left: 41%;
}
#Atelophobia-Text-A{
    position: absolute;
    font-size: 1.5em;
    color: #ffffff;
    top: 65%;
    left: 51%;
}

/*-----Rouge-One Content-----*/

#Rouge-One{
    position: absolute;
    height: 25%;
    width: 338px;
    top: 35%;
    right: 10%;
}
.box3 {
    position: absolute;
    height: 25%;
    width: 338px;
    background-color: #737373;
    top: 50%;
    right: 10%;
}
#Rouge-One-Banner{
    position: absolute;
    height: 23%;
    width: auto;
    top: 50%;
    right: 12%;
}
#Rouge-One-Text-A{
    position: absolute;
    font-size: 1.5em;
    color: #ffffff;
    top: 62%;
    right: 22%;
}
#Rouge-One-Text-B{
    position: absolute;
    font-size: 1.5em;
    color: #ffffff;
    top: 67%;
    right: 22.5%;
}

/*-----Ultra Man Content-----*/

#Ultra-Man{
    position: absolute;
    height: 25%;
    width: 338px;
    top: 90%;
    left: 10%;
}
.box4 {
    position: absolute;
    height: 25%;
    width: 338px;
    background-color: #737373;
    top: 105%;
    left: 10%;
}
#Ultra-Man-Banner{
    position: absolute;
    height: 23%;
    width: auto;
    top: 105%;
    left: 12%;
}
#Ultra-Man-Text-A{
    position: absolute;
    font-size: 1.5em;
    color: #ffffff;
    top: 117%;
    left: 20%;
}
#Ultra-Man-Text-B{
    position: absolute;
    font-size: 1.5em;
    color: #ffffff;
    top: 122%;
    left: 22%;
}

/*-----End Game Content-----*/

#End-Game{
  position: absolute;
  height: 25%;
  width: 338px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.box5 {
  position: absolute;
  height: 25%;
  width: 338px;
  background-color: #737373;
  top: 105%;
  left: 50%;
  transform: translate(-50%, 0%);
}
#End-Game-Banner{
  position: absolute;
  height: 23%;
  width: auto;
  top: 105%;
  left: 55%;
  transform: translate(-50%, 0%);
}
#End-Game-Text-A{
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  top: 117%;
  left: 45%;
  transform: translate(-50%, 0%);
}
#End-Game-Text-B{
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  top: 122%;
  left: 45%;
  transform: translate(-50%, 0%);
}

/*-----Infinity War Content-----*/

#Infinity-War{
  position: absolute;
  height: 25%;
  width: 338px;
  top: 90%;
  right: 10%;
}
.box6 {
  position: absolute;
  height: 25%;
  width: 338px;
  background-color: #737373;
  top: 105%;
  right: 10%;
}
#Infinity-War-Banner{
  position: absolute;
  height: 23%;
  width: auto;
  top: 105%;
  right: 12%;
}
#Infinity-War-Text-A{
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  top: 117%;
  right: 23%;
}
#Infinity-War-Text-B{
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  top: 122%;
  right: 22%;
}

/*-----Clone Wars Content-----*/

#Clone-Wars{
  position: absolute;
  height: 25%;
  width: 338px;
  top: 145%;
  left: 10%;
}
.box7 {
  position: absolute;
  height: 25%;
  width: 338px;
  background-color: #737373;
  top: 160%;
  left: 10%;
}
#Clone-Wars-Banner{
  position: absolute;
  height: 23%;
  width: auto;
  top: 160%;
  left: 22%;
}
#Clone-Wars-Text-A{
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  top: 175%;
  left: 12%;
}

/*-----Sith Content-----*/

#Sith{
  position: absolute;
  height: 25%;
  width: 338px;
  top: 145%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.box8 {
  position: absolute;
  height: 25%;
  width: 338px;
  background-color: #737373;
  top: 160%;
  left: 50%;
  transform: translate(-50%, 0%);
}
#Sith-Banner{
  position: absolute;
  height: 23%;
  width: auto;
  top: 160%;
  left: 45%;
  transform: translate(-50%, 0%);
}
#Sith-Text-A{
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  top: 175%;
  left: 55%;
  transform: translate(-50%, 0%);
}

/*-----Kamen Rider Content-----*/

#Kamen-Rider{
  position: absolute;
  height: 25%;
  width: 338px;
  top: 145%;
  right: 10%;
}
.box9 {
  position: absolute;
  height: 25%;
  width: 338px;
  background-color: #737373;
  top: 160%;
  right: 10%;
}
#Kamen-Rider-Banner{
  position: absolute;
  height: 23%;
  width: auto;
  top: 160%;
  right: 12%;
}
#Kamen-Rider-Text-A{
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  top: 172%;
  right: 22%;
}
#Kamen-Rider-Text-B{
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  top: 177%;
  right: 22%;
}