/*-----Lable-----*/

.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#Top-Text{
    font-size: 3em;
    position: absolute;
    color: #ffffff;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#No-Way-Home{
    position: absolute;
    height: 25%;
    width: auto;
    top: 35%;
    left: 10%;
}
.box1 {
    position: absolute;
    height: 25%;
    width: 338px;
    background-color: #737373;
    top: 50%;
    left: 10%;
}
#No-Way-Home-Banner{
    position: absolute;
    height: 23%;
    width: auto;
    top: 50%;
    left: 12%;
}
#No-Way-Home-Text-A{
    position: absolute;
    font-size: 1.5em;
    color: #ffffff;
    top: 62%;
    left: 22%;
}
#No-Way-Home-Text-B{
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  top: 67%;
  left: 21%;
}
#Atelophobia{
    position: absolute;
    height: 25%;
    width: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#Rouge-One{
    position: absolute;
    height: 25%;
    width: auto;
    top: 35%;
    right: 15%;
}