/* screen - atelopbia-uan */

.atelopbia-uan {
  background-color: var(--black);
  height: 3494px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1960px;
}

.atelopbia-uan .geed-uf-line-d-1-cWM7id {
  background-color: transparent;
  height: 1313px;
  left: -2px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 1960px;
}

.atelopbia-uan .geed-uf-line-d-2-cWM7id {
  background-color: transparent;
  height: 2006px;
  left: 30px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1488px;
  width: 1941px;
}

.atelopbia-uan .bottom-cWM7id {
  background-color: transparent;
  height: 340px;
  left: 44px;
  position: absolute;
  top: 3003px;
  width: 1872px;
}

.atelopbia-uan .view-X6xfMx {
  background-color: var(--mist-gray);
  height: 14px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 223px;
  width: 1872px;
}

.atelopbia-uan .icon-facebook-X6xfMx {
  background-color: transparent;
  height: 74px;
  left: 1505px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 266px;
  width: 74px;
}

.atelopbia-uan .icon-instagram-X6xfMx {
  background-color: transparent;
  height: 74px;
  left: 1627px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 266px;
  width: 74px;
}

.atelopbia-uan .icon-twitter-X6xfMx {
  background-color: transparent;
  height: 74px;
  left: 1764px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 266px;
  width: 74px;
}

.atelopbia-uan .group-29-X6xfMx {
  background-color: transparent;
  cursor: pointer;
  height: 113px;
  left: 73px;
  position: absolute;
  top: 0px;
  width: 393px;
}

.atelopbia-uan .rectangle-66-x15mkH {
  background-color: var(--gold);
  height: 113px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 391px;
}

.atelopbia-uan .back-x15mkH {
  background-color: transparent;
  height: auto;
  left: 139px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: auto;
}

.atelopbia-uan .group-30-X6xfMx {
  background-color: transparent;
  cursor: pointer;
  height: 113px;
  left: 1383px;
  position: absolute;
  top: 0px;
  width: 393px;
}

.atelopbia-uan .rectangle-66-0oG9jx {
  background-color: var(--gold);
  height: 113px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 391px;
}

.atelopbia-uan .confirm-0oG9jx {
  background-color: transparent;
  height: auto;
  left: 125px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: auto;
}

.atelopbia-uan .theater-cWM7id {
  background-color: transparent;
  height: 384px;
  left: 103px;
  position: absolute;
  top: 822px;
  width: 1739px;
}

.atelopbia-uan .theater-pSCRqa {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.atelopbia-uan .rectangle-55-pSCRqa {
  background-color: transparent;
  height: 14px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 75px;
  width: 1727px;
}

.atelopbia-uan .ya-theater-pSCRqa {
  background-color: transparent;
  height: auto;
  left: 191px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 156px;
  width: auto;
}

.atelopbia-uan .uan-theater-pSCRqa {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 165px;
  width: auto;
}

.atelopbia-uan .sun-theater-pSCRqa {
  background-color: transparent;
  height: auto;
  left: 1399px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 156px;
  width: auto;
}

.atelopbia-uan .bung-theater-pSCRqa {
  background-color: transparent;
  height: auto;
  left: 772px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 342px;
  width: auto;
}

.atelopbia-uan .cheetah-theater-pSCRqa {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 342px;
  width: auto;
}

.atelopbia-uan .view-cWM7id {
  background-color: transparent;
  height: 260px;
  left: 103px;
  position: absolute;
  top: 1325px;
  width: 1733px;
}

.atelopbia-uan .show-time-IWqwHc {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.atelopbia-uan .rectangle-56-IWqwHc {
  background-color: transparent;
  height: 14px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 88px;
  width: 1727px;
}

.atelopbia-uan .x5-IWqwHc {
  background-color: transparent;
  height: 97px;
  left: 1453px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.atelopbia-uan .rectangle-57-7h1J3D {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.atelopbia-uan .x2130-7h1J3D {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.atelopbia-uan .x4-IWqwHc {
  background-color: transparent;
  height: 97px;
  left: 1094px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.atelopbia-uan .rectangle-57-zl9WQv {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.atelopbia-uan .x1900-zl9WQv {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.atelopbia-uan .x3-IWqwHc {
  background-color: transparent;
  height: 97px;
  left: 725px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.atelopbia-uan .rectangle-57-t0z8WG {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.atelopbia-uan .x1630-t0z8WG {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.atelopbia-uan .x2-IWqwHc {
  background-color: transparent;
  height: 97px;
  left: 383px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.atelopbia-uan .rectangle-57-f97wmJ {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.atelopbia-uan .x1400-f97wmJ {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.atelopbia-uan .x1-IWqwHc {
  background-color: transparent;
  height: 97px;
  left: 14px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.atelopbia-uan .rectangle-57-Ac9EmQ {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.atelopbia-uan .x1130-Ac9EmQ {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.atelopbia-uan .top-cWM7id {
  background-color: transparent;
  height: 502px;
  left: 103px;
  position: absolute;
  top: 252px;
  width: 1300px;
}

.atelopbia-uan .atelopbia-ZFipZx {
  background-color: transparent;
  height: auto;
  left: 425px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 51px;
  width: 766px;
}

.atelopbia-uan .rectangle-38-ZFipZx {
  background-color: transparent;
  height: 465px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 365px;
}

.atelopbia-uan .group-19-ZFipZx {
  background-color: transparent;
  height: 136px;
  left: 425px;
  position: absolute;
  top: 366px;
  width: 402px;
}

.atelopbia-uan .rectangle-49-ZYOoIC {
  background-color: var(--gold);
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 400px;
}

.atelopbia-uan .available-show-time-ZYOoIC {
  background-color: transparent;
  height: auto;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 395px;
}

.atelopbia-uan .genre-horror-romance-ZFipZx {
  background-color: transparent;
  height: auto;
  left: 420px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 430px;
}

.atelopbia-uan .movie-description-a-ZFipZx {
  background-color: transparent;
  height: auto;
  left: 420px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 173px;
  width: 874px;
}

.atelopbia-uan .navbar-cWM7id {
  background-color: transparent;
  height: 164px;
  left: 0px;
  position: absolute;
  top: -29px;
  width: 1971px;
}

.atelopbia-uan .nav_background-dvzljE {
  background-color: var(--tundora-2);
  height: 101px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  width: 1963px;
}

.atelopbia-uan .promotions-dvzljE {
  background-color: transparent;
  height: auto;
  left: 705px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 255px;
}

.atelopbia-uan .rectangle-36-dvzljE {
  background-color: var(--tundora);
  height: 94px;
  left: 185px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 123px;
}

.atelopbia-uan .main-dvzljE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 185px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 109px;
}

.atelopbia-uan .rectangle-37-dvzljE {
  background-color: var(--tundora);
  height: 64px;
  left: 329px;
  mix-blend-mode: normal;
  position: absolute;
  top: 32px;
  width: 132px;
}

.atelopbia-uan .theater-dvzljE {
  background-color: transparent;
  height: auto;
  left: 495px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 176px;
}

.atelopbia-uan .movie-dvzljE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 329px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 132px;
}

.atelopbia-uan .ellipse-1-dvzljE {
  background-color: var(--mist-gray);
  border-radius: 58.5px/43px;
  cursor: pointer;
  height: 86px;
  left: 1830px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 117px;
}

.atelopbia-uan .movie-logo-dvzljE {
  background-color: transparent;
  height: 135px;
  left: 10px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 164px;
}

.atelopbia-uan .seat-cWM7id {
  background-color: transparent;
  height: 1065px;
  left: 110px;
  position: absolute;
  top: 1689px;
  width: 1734px;
}

.atelopbia-uan .seat-vExUpd {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.atelopbia-uan .rectangle-56-vExUpd {
  background-color: transparent;
  height: 14px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 91px;
  width: 1727px;
}

.atelopbia-uan .seat-normal-1-vExUpd {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 172px;
  width: 1692px;
}

.atelopbia-uan .f1-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-5xn1wS {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f1-5xn1wS {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .f2-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-fUfXZi {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f2-fUfXZi {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .f3-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-xgxqhH {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f3-xgxqhH {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .f4-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-hB0evm {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f4-hB0evm {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .f5-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-64-DQNlAp {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f5-DQNlAp {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .f6-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .f6-aSao7r {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f6-EukfkD {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .f7-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-C6OFN2 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f7-C6OFN2 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .f8-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-61-jpIisY {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f8-jpIisY {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .f9-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-62-6OO7Ch {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f9-6OO7Ch {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.atelopbia-uan .f10-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-63-dIbLfd {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f10-dIbLfd {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .f11-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-59-tnxuAP {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f11-tnxuAP {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .f12-JhQSrF {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-phKwTq {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .f12-phKwTq {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .seat-normal-2-vExUpd {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 332px;
  width: 1692px;
}

.atelopbia-uan .e1-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-BQabMI {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e1-BQabMI {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .e2-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-W9Ibbz {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e2-W9Ibbz {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .e3-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-y9TJZD {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e3-y9TJZD {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .e4-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-y5sxrx {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e-y5sxrx {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .e5-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-64-nhXVa2 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e5-nhXVa2 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .e6-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .f6-QD3ZaY {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e6-QD3ZaY {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .e7-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-ysRObX {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e-ysRObX {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .e8-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-61-lqJrMx {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e8-lqJrMx {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .e9-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-62-UGtbmo {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e9-UGtbmo {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.atelopbia-uan .e10-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-63-rW7SHJ {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e10-rW7SHJ {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .e11-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-59-hOaJyq {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e11-hOaJyq {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .e12-6obEKQ {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-FxwGqK {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .e12-FxwGqK {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .seat-normal-3-vExUpd {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 492px;
  width: 1692px;
}

.atelopbia-uan .d1-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-EuVgcB {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d1-EuVgcB {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .d2-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-ahkDiI {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d2-ahkDiI {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .d3-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-xBHvvV {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d3-xBHvvV {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .d4-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-vzZoUr {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d4-vzZoUr {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .d5-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-64-Hxxjzq {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d5-Hxxjzq {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .d6-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .f6-VsJvdu {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d6-VsJvdu {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .d7-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-2xS67k {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d-2xS67k {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .d8-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-61-KRTqOx {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d8-KRTqOx {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .d9-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-62-7zJ1lQ {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d9-7zJ1lQ {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.atelopbia-uan .d10-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-63-dCvsdx {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d10-dCvsdx {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .d11-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-59-x3ax1G {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d11-x3ax1G {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .d12-CtxxOz {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-Pl34Tx {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .d13-Pl34Tx {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .seat-normal-4-vExUpd {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 652px;
  width: 1692px;
}

.atelopbia-uan .c1-seaata {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-AGsqJx {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c1-AGsqJx {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .c2-seaata {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-p7CPqv {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c2-p7CPqv {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .c3-seaata {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-OFaLvv {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c3-OFaLvv {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .c4-seaata {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-ELNzvi {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c4-ELNzvi {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .c5-seaata {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-64-JT5xDB {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c5-JT5xDB {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .c6-seaata {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .f6-Xib017 {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c6-Xib017 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .c7-seaata {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-79mN23 {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c7-79mN23 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .c8-seaata {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-61-G0LO8r {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c8-G0LO8r {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .c9-seaata {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-62-BKFe47 {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c9-BKFe47 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.atelopbia-uan .c10-seaata {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-63-DwFfsj {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c10-DwFfsj {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .c11-seaata {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-59-ktox0y {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c11-ktox0y {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .c12-seaata {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-lcSUSR {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .c12-lcSUSR {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .seat-normal-5-vExUpd {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 812px;
  width: 1692px;
}

.atelopbia-uan .b1-irV78j {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-3IXYPr {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b1-3IXYPr {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .b2-irV78j {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-GrYKdm {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b2-GrYKdm {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .b3-irV78j {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-rVUaCc {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b3-rVUaCc {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .b4-irV78j {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-KVYdmw {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b4-KVYdmw {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .b5-irV78j {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-64-71xzps {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b5-71xzps {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .b6-irV78j {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .f6-2rFW7m {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b6-2rFW7m {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .b7-irV78j {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-m3MpR8 {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b7-m3MpR8 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .b8-irV78j {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-61-hOiyMp {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b8-hOiyMp {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .b9-irV78j {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-62-vwQdVV {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b9-vwQdVV {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.atelopbia-uan .b10-irV78j {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-63-x9SNbf {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b10-x9SNbf {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .b11-irV78j {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-59-bP6CXC {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b11-bP6CXC {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .b12-irV78j {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-8Xa8Xg {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .b12-8Xa8Xg {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .seat-normal-6-vExUpd {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 972px;
  width: 1692px;
}

.atelopbia-uan .a1-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-oBjoUZ {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a1-oBjoUZ {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .a2-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-xa65O6 {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a2-xa65O6 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .a3-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-4jyzGv {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a3-4jyzGv {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .a4-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-58-R4zb7L {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a4-R4zb7L {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .a5-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-64-IZEufg {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a5-IZEufg {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .a6-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .f6-H9PURt {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a6-H9PURt {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .a7-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-JaNI4J {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a7-JaNI4J {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .a8-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-61-1ojX7A {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a8-1ojX7A {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .a9-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-62-0cLk3X {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a9-0cLk3X {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.atelopbia-uan .a10-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-63-e5CZZr {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a10-e5CZZr {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .a11-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-59-Zy7Euh {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a11-Zy7Euh {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.atelopbia-uan .a12-LONLLx {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.atelopbia-uan .rectangle-60-zfJx42 {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.atelopbia-uan .a12-zfJx42 {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}
