/* screen - customer-information-for-customer-sun */

.customer-information-for-customer-sun {
  background-color: var(--white);
  height: 1259px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1960px;
}

.customer-information-for-customer-sun .your-information-xHYigT {
  background-color: transparent;
  height: auto;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 209px;
  width: 445px;
}

.customer-information-for-customer-sun .fill-in-first-name-xHYigT {
  background-color: transparent;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 450px;
  width: 518px;
}

.customer-information-for-customer-sun .fill-in-first-name-G0QtXp {
  background-color: transparent;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 359px;
  width: 518px;
}

.customer-information-for-customer-sun .fill-in-last-name-xHYigT {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 554px;
  width: 518px;
}

.customer-information-for-customer-sun .fill-in-birth-date-xHYigT {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 654px;
  width: 518px;
}

.customer-information-for-customer-sun .fill-in-email-xHYigT {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 745px;
  width: 518px;
}

.customer-information-for-customer-sun .fill-in-telenum-xHYigT {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 836px;
  width: 518px;
}

.customer-information-for-customer-sun .fill-in-gender-xHYigT {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 47px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 927px;
  width: 518px;
}

.customer-information-for-customer-sun .first-name-xHYigT {
  background-color: transparent;
  height: auto;
  left: 92px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 455px;
  width: 172px;
}

.customer-information-for-customer-sun .username-xHYigT {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 361px;
  width: 172px;
}

.customer-information-for-customer-sun .last-name-xHYigT {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 562px;
  width: 172px;
}

.customer-information-for-customer-sun .date-of-brith-xHYigT {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 662px;
  width: 200px;
}

.customer-information-for-customer-sun .telephone-number-xHYigT {
  background-color: transparent;
  height: auto;
  left: 63px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 819px;
  width: 200px;
}

.customer-information-for-customer-sun .email-xHYigT {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 749px;
  width: 200px;
}

.customer-information-for-customer-sun .gender-xHYigT {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 930px;
  width: 200px;
}

.customer-information-for-customer-sun .rectangle-16-xHYigT {
  background-color: var(--quill-gray);
  height: 419px;
  left: 1230px;
  mix-blend-mode: normal;
  position: absolute;
  top: 164px;
  width: 430px;
}

.customer-information-for-customer-sun .navbar-xHYigT {
  background-color: transparent;
  height: 164px;
  left: 0px;
  position: absolute;
  top: -27px;
  width: 1971px;
}

.customer-information-for-customer-sun .nav_background-FlzATj {
  background-color: var(--tundora-2);
  height: 101px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  width: 1963px;
}

.customer-information-for-customer-sun .promotions-FlzATj {
  background-color: transparent;
  height: auto;
  left: 705px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 255px;
}

.customer-information-for-customer-sun .rectangle-36-FlzATj {
  background-color: var(--tundora);
  height: 94px;
  left: 185px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 123px;
}

.customer-information-for-customer-sun .main-FlzATj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 185px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 109px;
}

.customer-information-for-customer-sun .rectangle-37-FlzATj {
  background-color: var(--tundora);
  height: 64px;
  left: 329px;
  mix-blend-mode: normal;
  position: absolute;
  top: 32px;
  width: 132px;
}

.customer-information-for-customer-sun .theater-FlzATj {
  background-color: transparent;
  height: auto;
  left: 495px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 176px;
}

.customer-information-for-customer-sun .movie-FlzATj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 329px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 132px;
}

.customer-information-for-customer-sun .ellipse-1-FlzATj {
  background-color: var(--mist-gray);
  border-radius: 58.5px/43px;
  height: 86px;
  left: 1830px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 117px;
}

.customer-information-for-customer-sun .movie-logo-FlzATj {
  background-color: transparent;
  height: 137px;
  left: 10px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 164px;
}

.customer-information-for-customer-sun .group-40-xHYigT {
  background-color: transparent;
  cursor: pointer;
  height: 55px;
  left: 364px;
  position: absolute;
  top: 1047px;
  width: 320px;
}

.customer-information-for-customer-sun .sign-up-button-zTY13j {
  background-color: transparent;
  height: 55px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 318px;
}

.customer-information-for-customer-sun .change-information-zTY13j {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 272px;
}
