/* screen - frame-2 */

.frame-2 {
  background-color: #c7c7c7;
  height: 147px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 234px;
}

.frame-2 .polygon-5-GB5BqJ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 204px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3px;
  width: 25px;
}

.frame-2 .male-GB5BqJ {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 37px;
  width: auto;
}

.frame-2 .female-GB5BqJ {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 82px;
  width: auto;
}
