*
{
    margin: 0;
    padding: 0;
}

/*-----navigation-----*/

#nav-bar
{
    top: 0;
    z-index: 10;
}
.navbar-logo img
{
    width: 10vh;
}
.navbar-logo-user img
{
    position: absolute;
    width: 10vh;
    top: 10px;
    right: 15px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #ffff00!important;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #ffffff!important;
    font-weight: 600;
    font-size: 2em;
}

/*-----cool scroller-----*/

body::-webkit-scrollbar
{
    width: 6px;
}
body::-webkit-scrollbar-track
{
    background: #000000;
}
body::-webkit-scrollbar-thumb
{
    background: #ffffff;
}