*
{
    margin: 0;
    padding: 0;
}

/*-----navigation-----*/

#nav-bar
{
    top: 0;
    z-index: 10;
}
.navbar-logo img
{
    width: 10vh;
}
.navbar-logo-user img
{
    position: absolute;
    width: 10vh;
    top: 10px;
    right: 15px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #dfdf1e!important;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #ffffff!important;
    font-weight: 600;
    font-size: 2em;
}

/*-----cool scroller-----*/

body::-webkit-scrollbar
{
    width: 6px;
}
body::-webkit-scrollbar-track
{
    background: #000000;
}
body::-webkit-scrollbar-thumb
{
    background: #ffffff;
}

/*-----Lable-----*/

.container-fluid {
    position: relative;
}
#Lable1 {
    font-size: 3em;
    position: absolute;
    color: #FF3535;
    top: 15%;
    right: 50px;
}
#Lable2 {
    font-size: 5.5em;
    position: absolute;
    color: #ffffff;
    top: 25%;
    right: 50px;
}
#Lable3 {
    font-size: 5.5em;
    position: absolute;
    color: #ffffff;
    top: 40%;
    right: 50px;
}
#Button1 {
    font-size: 3em;
    position: absolute;
    bottom: 10%;
    right: 50px;
}
#Ultra {
    position: absolute;
    top: 75px;
    left: 75px;
}
#Lable4 {
    font-size: 3em;
    position: absolute;
    color: #000000;
    top: 75px;
    right: 100px;
}
#Lable5 {
    font-size: 3em;
    position: absolute;
    color: #000000;
    top: 140px;
    right: 150px;
}
#Button2 {
    font-size: 3em;
    position: absolute;
    top: 225px;
    right: 150px;
}
#Lable6 {
    font-size: 3em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 35%);
    color: #ffffff;
}
#Movie-Lable1{
    font-size: 2.7em;
    position: absolute;
    color: #ffffff;
    background-color: #3d3b3b;
    top: 900px;
    left: 99px;
}
#No-Way-Home{
    position: absolute;
    height: auto;
    width: 25%;
    top: 150px;
    left: 100px;
}