/*-----Lable-----*/

.container-fluid {
    position: relative;
}
#Lable1 {
    font-size: 3em;
    position: absolute;
    color: #FF3535;
    top: 15%;
    right: 50px;
}
#Lable2 {
    font-size: 5.5em;
    position: absolute;
    color: #ffffff;
    top: 25%;
    right: 50px;
}
#Lable3 {
    font-size: 5.5em;
    position: absolute;
    color: #ffffff;
    top: 40%;
    right: 50px;
}
#Button1 {
    font-size: 3em;
    position: absolute;
    bottom: 10%;
    right: 50px;
}
#Ultra {
    position: absolute;
    top: 15%;
    left: 50px;
}
#Lable4 {
    font-size: 3em;
    position: absolute;
    color: #000000;
    top: 10%;
    right: 100px;
}
#Lable5 {
    font-size: 3em;
    position: absolute;
    color: #000000;
    top: 30%;
    right: 150px;
}
#Button2 {
    font-size: 3em;
    position: absolute;
    top: 57%;
    right: 150px;
}
#Lable6 {
    font-size: 3em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 35%);
    color: #ffffff;
}
#Movie-Lable1{
    font-size: 2.01em;
    position: absolute;
    color: #ffffff;
    background-color: #3d3b3b;
    top: 675px;
    left: 99px;
}
#No-Way-Home{
    position: absolute;
    height: auto;
    width: 25%;
    top: 150px;
    left: 100px;
}
#Movie-Lable2{
    font-size: 2.01em;
    position: absolute;
    color: #ffffff;
    background-color: #3d3b3b;
    top: 675px;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-left: 32px;
    padding-right: 32px;
}
#Kamen-Rider{
    position: absolute;
    height: auto;
    width: 25%;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0%);
}
#Movie-Lable3{
    font-size: 2.01em;
    position: absolute;
    color: #ffffff;
    background-color: #3d3b3b;
    top: 675px;
    right: 99px;
    padding-left: 119px;
    padding-right: 119px;
}
#Snake{
    position: absolute;
    height: auto;
    width: 25%;
    top: 150px;
    right: 100px;
}
#Button3 {
    font-size: 2em;
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#Promo-Lable1{
    font-size: 2.01em;
    position: absolute;
    color: #ffffff;
    background-color: #3d3b3b;
    top: 525px;
    left: 285px;
    padding-left: 12px;
    padding-right: 12px;
}
#Promo1{
    position: absolute;
    height: auto;
    width: 25%;
    top: 250px;
    left: 285px;
}
#Promo-Lable2{
    font-size: 2.01em;
    position: absolute;
    color: #ffffff;
    background-color: #3d3b3b;
    top: 525px;
    right: 225px;
    padding-left: 48px;
    padding-right: 48px;
}
#Promo2{
    position: absolute;
    height: auto;
    width: 30%;
    top: 250px;
    right: 225px;
}

/*-----Footer-----*/
.bot-pic{
    width: 10%;
    padding-left: 48px;
    padding-right: 48px;
}