/* screen - movie-new */

.movie-new {
  background-color: var(--black);
  height: 2300px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1960px;
}

.movie-new .navbar-xKJbct {
  background-color: transparent;
  height: 1205px;
  left: -3px;
  position: absolute;
  top: -1px;
  width: 1971px;
}

.movie-new .image-7-Md9906 {
  background-color: transparent;
  height: 1104px;
  left: 2px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 101px;
  width: 1960px;
}

.movie-new .nav_background-Md9906 {
  background-color: var(--tundora-2);
  height: 101px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1963px;
}

.movie-new .promotions-Md9906 {
  background-color: transparent;
  height: auto;
  left: 705px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 255px;
}

.movie-new .rectangle-36-Md9906 {
  background-color: var(--tundora);
  height: 94px;
  left: 185px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 123px;
}

.movie-new .main-Md9906 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 185px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 109px;
}

.movie-new .rectangle-37-Md9906 {
  background-color: var(--tundora);
  height: 64px;
  left: 329px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8px;
  width: 132px;
}

.movie-new .theater-Md9906 {
  background-color: transparent;
  height: auto;
  left: 495px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 176px;
}

.movie-new .movie-Md9906 {
  background-color: transparent;
  height: auto;
  left: 329px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 132px;
}

.movie-new .ellipse-1-Md9906 {
  background-color: var(--mist-gray);
  border-radius: 58.5px/43px;
  cursor: pointer;
  height: 86px;
  left: 1830px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 117px;
}

.movie-new .image-8-xKJbct {
  background-color: transparent;
  height: 1101px;
  left: 2px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1201px;
  width: 1960px;
}

.movie-new .dodi-theater-white-1-xKJbct {
  background-color: transparent;
  height: 139px;
  left: 7px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: -12px;
  width: 164px;
}

.movie-new .now-airing-xKJbct {
  background-color: transparent;
  color: var(--rose-white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 770px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 138px;
  width: 419px;
}

.movie-new .group-22-xKJbct {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 129px;
  position: absolute;
  top: 257px;
  width: 474px;
}

.movie-new .group-23-xKJbct {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 743px;
  position: absolute;
  top: 257px;
  width: 474px;
}

.movie-new .group-24-xKJbct {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 1357px;
  position: absolute;
  top: 257px;
  width: 474px;
}

.movie-new .group-25-xKJbct {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 129px;
  position: absolute;
  top: 764px;
  width: 474px;
}

.movie-new .group-26-xKJbct {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 743px;
  position: absolute;
  top: 764px;
  width: 474px;
}

.movie-new .group-22-CcXIZ7 {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 1357px;
  position: absolute;
  top: 764px;
  width: 474px;
}

.movie-new .group-27-xKJbct {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 129px;
  position: absolute;
  top: 1271px;
  width: 474px;
}

.movie-new .group-23-CcXIZ7 {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 743px;
  position: absolute;
  top: 1271px;
  width: 474px;
}

.movie-new .group-24-CcXIZ7 {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 1357px;
  position: absolute;
  top: 1271px;
  width: 474px;
}

.movie-new .group-25-CcXIZ7 {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 129px;
  position: absolute;
  top: 1778px;
  width: 474px;
}

.movie-new .group-26-CcXIZ7 {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 743px;
  position: absolute;
  top: 1778px;
  width: 474px;
}

.movie-new .group-22-C3p9Kr {
  background-color: transparent;
  cursor: pointer;
  height: 397px;
  left: 1357px;
  position: absolute;
  top: 1778px;
  width: 474px;
}

.movie-new .spider-man-no-way-home-xKJbct {
  background-color: transparent;
  height: auto;
  left: 313px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 536px;
  width: 286px;
}

.movie-new .atelophobia-xKJbct {
  background-color: transparent;
  height: auto;
  left: 927px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 518px;
  width: 286px;
}

.movie-new .avengers-infinity-war-xKJbct {
  background-color: transparent;
  height: auto;
  left: 1541px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1043px;
  width: 286px;
}

.movie-new .kaizoku-sentai-ten-gokaiger-xKJbct {
  background-color: transparent;
  height: auto;
  left: 313px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2057px;
  width: 286px;
}

.movie-new .ban-g-dream-film-live-xKJbct {
  background-color: transparent;
  height: auto;
  left: 927px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2057px;
  width: 286px;
}

.movie-new .kamen-rider-beyond-generation-xKJbct {
  background-color: transparent;
  height: auto;
  left: 1541px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1550px;
  width: 286px;
}

.movie-new .star-wars-ii-xKJbct {
  background-color: transparent;
  height: auto;
  left: 313px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1532px;
  width: 286px;
}

.movie-new .star-wars-iii-xKJbct {
  background-color: transparent;
  height: auto;
  left: 927px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1532px;
  width: 286px;
}

.movie-new .the-snake-xKJbct {
  background-color: transparent;
  height: auto;
  left: 1541px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2039px;
  width: 286px;
}
