/* screen - spider-man-no-way-home */

.spider-man-no-way-home {
  background-color: var(--black);
  height: 3494px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1960px;
}

.spider-man-no-way-home .geed-uf-line-d-1-w61rmQ {
  background-color: transparent;
  height: 1313px;
  left: -2px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 1960px;
}

.spider-man-no-way-home .geed-uf-line-d-2-w61rmQ {
  background-color: transparent;
  height: 2006px;
  left: 30px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1488px;
  width: 1941px;
}

.spider-man-no-way-home .bottom-w61rmQ {
  background-color: transparent;
  height: 340px;
  left: 44px;
  position: absolute;
  top: 3003px;
  width: 1872px;
}

.spider-man-no-way-home .view-LUIKHr {
  background-color: var(--mist-gray);
  height: 14px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 223px;
  width: 1872px;
}

.spider-man-no-way-home .icon-facebook-LUIKHr {
  background-color: transparent;
  height: 74px;
  left: 1505px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 266px;
  width: 74px;
}

.spider-man-no-way-home .icon-instagram-LUIKHr {
  background-color: transparent;
  height: 74px;
  left: 1627px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 266px;
  width: 74px;
}

.spider-man-no-way-home .icon-twitter-LUIKHr {
  background-color: transparent;
  height: 74px;
  left: 1764px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 266px;
  width: 74px;
}

.spider-man-no-way-home .group-29-LUIKHr {
  background-color: transparent;
  cursor: pointer;
  height: 113px;
  left: 73px;
  position: absolute;
  top: 0px;
  width: 393px;
}

.spider-man-no-way-home .rectangle-66-xMk2KX {
  background-color: var(--gold);
  height: 113px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 391px;
}

.spider-man-no-way-home .back-xMk2KX {
  background-color: transparent;
  height: auto;
  left: 139px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: auto;
}

.spider-man-no-way-home .group-30-LUIKHr {
  background-color: transparent;
  cursor: pointer;
  height: 113px;
  left: 1383px;
  position: absolute;
  top: 0px;
  width: 393px;
}

.spider-man-no-way-home .rectangle-66-8SLstn {
  background-color: var(--gold);
  height: 113px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 391px;
}

.spider-man-no-way-home .confirm-8SLstn {
  background-color: transparent;
  height: auto;
  left: 125px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: auto;
}

.spider-man-no-way-home .theater-w61rmQ {
  background-color: transparent;
  height: 384px;
  left: 103px;
  position: absolute;
  top: 822px;
  width: 1739px;
}

.spider-man-no-way-home .theater-17n1xU {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.spider-man-no-way-home .rectangle-55-17n1xU {
  background-color: transparent;
  height: 14px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 75px;
  width: 1727px;
}

.spider-man-no-way-home .ya-theater-17n1xU {
  background-color: transparent;
  height: auto;
  left: 191px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 156px;
  width: auto;
}

.spider-man-no-way-home .uan-theater-17n1xU {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 165px;
  width: auto;
}

.spider-man-no-way-home .sun-theater-17n1xU {
  background-color: transparent;
  height: auto;
  left: 1399px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 156px;
  width: auto;
}

.spider-man-no-way-home .bung-theater-17n1xU {
  background-color: transparent;
  height: auto;
  left: 772px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 342px;
  width: auto;
}

.spider-man-no-way-home .cheetah-theater-17n1xU {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 342px;
  width: auto;
}

.spider-man-no-way-home .view-w61rmQ {
  background-color: transparent;
  height: 260px;
  left: 103px;
  position: absolute;
  top: 1325px;
  width: 1733px;
}

.spider-man-no-way-home .show-time-6Txspr {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.spider-man-no-way-home .rectangle-56-6Txspr {
  background-color: transparent;
  height: 14px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 88px;
  width: 1727px;
}

.spider-man-no-way-home .x5-6Txspr {
  background-color: transparent;
  height: 97px;
  left: 1453px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.spider-man-no-way-home .rectangle-57-28AUFx {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.spider-man-no-way-home .x2130-28AUFx {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.spider-man-no-way-home .x4-6Txspr {
  background-color: transparent;
  height: 97px;
  left: 1094px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.spider-man-no-way-home .rectangle-57-D48XT0 {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.spider-man-no-way-home .x1900-D48XT0 {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.spider-man-no-way-home .x3-6Txspr {
  background-color: transparent;
  height: 97px;
  left: 725px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.spider-man-no-way-home .rectangle-57-JRxdJx {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.spider-man-no-way-home .x1630-JRxdJx {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.spider-man-no-way-home .x2-6Txspr {
  background-color: transparent;
  height: 97px;
  left: 383px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.spider-man-no-way-home .rectangle-57-NfOFZ5 {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.spider-man-no-way-home .x1400-NfOFZ5 {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.spider-man-no-way-home .x1-6Txspr {
  background-color: transparent;
  height: 97px;
  left: 14px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.spider-man-no-way-home .rectangle-57-va1Hbb {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.spider-man-no-way-home .x1130-va1Hbb {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.spider-man-no-way-home .top-w61rmQ {
  background-color: transparent;
  height: 502px;
  left: 103px;
  position: absolute;
  top: 252px;
  width: 1727px;
}

.spider-man-no-way-home .spider-man-no-way-home-jSt2SF {
  background-color: transparent;
  height: auto;
  left: 425px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 51px;
  width: 766px;
}

.spider-man-no-way-home .rectangle-38-jSt2SF {
  background-color: transparent;
  height: 465px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 365px;
}

.spider-man-no-way-home .group-19-jSt2SF {
  background-color: transparent;
  height: 136px;
  left: 425px;
  position: absolute;
  top: 366px;
  width: 402px;
}

.spider-man-no-way-home .rectangle-49-q10DVP {
  background-color: var(--gold);
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 400px;
}

.spider-man-no-way-home .available-show-time-q10DVP {
  background-color: transparent;
  height: auto;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 395px;
}

.spider-man-no-way-home .genre-action-comedy-jSt2SF {
  background-color: transparent;
  height: auto;
  left: 420px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 1301px;
}

.spider-man-no-way-home .movie-description-wh-jSt2SF {
  background-color: transparent;
  height: auto;
  left: 420px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 173px;
  width: 874px;
}

.spider-man-no-way-home .span0-SlMvHT {
}

.spider-man-no-way-home .span1-SlMvHT {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.spider-man-no-way-home .navbar-w61rmQ {
  background-color: transparent;
  height: 164px;
  left: 0px;
  position: absolute;
  top: -29px;
  width: 1971px;
}

.spider-man-no-way-home .nav_background-8zqIMC {
  background-color: var(--tundora-2);
  height: 101px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  width: 1963px;
}

.spider-man-no-way-home .promotions-8zqIMC {
  background-color: transparent;
  height: auto;
  left: 705px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 255px;
}

.spider-man-no-way-home .rectangle-36-8zqIMC {
  background-color: var(--tundora);
  height: 94px;
  left: 185px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 123px;
}

.spider-man-no-way-home .main-8zqIMC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 185px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 109px;
}

.spider-man-no-way-home .rectangle-37-8zqIMC {
  background-color: var(--tundora);
  height: 64px;
  left: 329px;
  mix-blend-mode: normal;
  position: absolute;
  top: 32px;
  width: 132px;
}

.spider-man-no-way-home .theater-8zqIMC {
  background-color: transparent;
  height: auto;
  left: 495px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 176px;
}

.spider-man-no-way-home .movie-8zqIMC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 329px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 132px;
}

.spider-man-no-way-home .ellipse-1-8zqIMC {
  background-color: var(--mist-gray);
  border-radius: 58.5px/43px;
  cursor: pointer;
  height: 86px;
  left: 1830px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 117px;
}

.spider-man-no-way-home .movie-logo-8zqIMC {
  background-color: transparent;
  height: 135px;
  left: 10px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 164px;
}

.spider-man-no-way-home .seat-w61rmQ {
  background-color: transparent;
  height: 1065px;
  left: 110px;
  position: absolute;
  top: 1689px;
  width: 1734px;
}

.spider-man-no-way-home .seat-gbspg9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.spider-man-no-way-home .rectangle-56-gbspg9 {
  background-color: transparent;
  height: 14px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 91px;
  width: 1727px;
}

.spider-man-no-way-home .seat-normal-1-gbspg9 {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 172px;
  width: 1692px;
}

.spider-man-no-way-home .f1-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-F4OxDp {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f1-F4OxDp {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .f2-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-qY3GKD {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f2-qY3GKD {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .f3-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-qcJ8J0 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f3-qcJ8J0 {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .f4-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-W4N7Aj {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f4-W4N7Aj {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .f5-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-64-jnLy3Q {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f5-jnLy3Q {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .f6-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .f6-PZ2Nnp {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f6-tiekky {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .f7-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-x9xLiO {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f7-x9xLiO {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .f8-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-61-A3EMIx {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f8-A3EMIx {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .f9-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-62-Roz5Rn {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f9-Roz5Rn {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.spider-man-no-way-home .f10-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-63-oiiJxd {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f10-oiiJxd {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .f11-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-59-fhgkkf {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f11-fhgkkf {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .f12-fQFmw0 {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-YSrnQC {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .f12-YSrnQC {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .seat-normal-2-gbspg9 {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 332px;
  width: 1692px;
}

.spider-man-no-way-home .e1-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-nWob9G {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e1-nWob9G {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .e2-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-xaDBfn {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e2-xaDBfn {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .e3-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-px5Kvu {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e3-px5Kvu {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .e4-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-ReQtYA {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e-ReQtYA {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .e5-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-64-LdNKmB {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e5-LdNKmB {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .e6-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .f6-mpKQyZ {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e6-mpKQyZ {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .e7-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-bYG0kt {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e-bYG0kt {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .e8-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-61-UcG9Rg {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e8-UcG9Rg {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .e9-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-62-LI97jp {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e9-LI97jp {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.spider-man-no-way-home .e10-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-63-LH4uEd {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e10-LH4uEd {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .e11-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-59-5l8ffI {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e11-5l8ffI {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .e12-GJOpc4 {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-XI4VJN {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .e12-XI4VJN {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .seat-normal-3-gbspg9 {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 492px;
  width: 1692px;
}

.spider-man-no-way-home .d1-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-5tFltX {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d1-5tFltX {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .d2-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-K04WQi {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d2-K04WQi {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .d3-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-7Qxplg {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d3-7Qxplg {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .d4-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-JF8T5D {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d4-JF8T5D {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .d5-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-64-WA3CmM {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d5-WA3CmM {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .d6-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .f6-i9zTn3 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d6-i9zTn3 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .d7-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-nbNG0S {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d-nbNG0S {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .d8-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-61-gHD20I {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d8-gHD20I {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .d9-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-62-uxJBzh {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d9-uxJBzh {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.spider-man-no-way-home .d10-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-63-jxFXXP {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d10-jxFXXP {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .d11-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-59-oxhyV5 {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d11-oxhyV5 {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .d12-LNhqh8 {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-0tae4X {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .d13-0tae4X {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .seat-normal-4-gbspg9 {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 652px;
  width: 1692px;
}

.spider-man-no-way-home .c1-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-rkt4UX {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c1-rkt4UX {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .c2-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-5pABle {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c2-5pABle {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .c3-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-h9tfeU {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c3-h9tfeU {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .c4-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-JL89IG {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c4-JL89IG {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .c5-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-64-yfExiX {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c5-yfExiX {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .c6-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .f6-JikOgt {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c6-JikOgt {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .c7-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-1yDKym {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c7-1yDKym {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .c8-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-61-TprOIl {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c8-TprOIl {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .c9-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-62-T0A6cF {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c9-T0A6cF {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.spider-man-no-way-home .c10-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-63-7O3fbX {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c10-7O3fbX {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .c11-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-59-iKutw1 {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c11-iKutw1 {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .c12-LWwKCm {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-tYdL12 {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .c12-tYdL12 {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .seat-normal-5-gbspg9 {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 812px;
  width: 1692px;
}

.spider-man-no-way-home .b1-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-Qxq77V {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b1-Qxq77V {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .b2-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-RWE9bC {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b2-RWE9bC {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .b3-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-1vFWVC {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b3-1vFWVC {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .b4-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-xZK9zC {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b4-xZK9zC {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .b5-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-64-pfYRH4 {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b5-pfYRH4 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .b6-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .f6-etgDs8 {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b6-etgDs8 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .b7-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-jDkxRu {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b7-jDkxRu {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .b8-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-61-rqLBKJ {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b8-rqLBKJ {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .b9-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-62-f3pELn {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b9-f3pELn {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.spider-man-no-way-home .b10-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-63-ywHlGh {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b10-ywHlGh {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .b11-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-59-ZAEfyT {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b11-ZAEfyT {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .b12-pOYSrs {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-FenVWt {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .b12-FenVWt {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .seat-normal-6-gbspg9 {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 972px;
  width: 1692px;
}

.spider-man-no-way-home .a1-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-lTxVsw {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a1-lTxVsw {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .a2-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-KwSeAj {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a2-KwSeAj {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .a3-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-l1ydea {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a3-l1ydea {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .a4-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-58-2WdURF {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a4-2WdURF {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .a5-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-64-XA9oxT {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a5-XA9oxT {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .a6-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .f6-xg8j2E {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a6-xg8j2E {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .a7-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-lHO3bc {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a7-lHO3bc {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .a8-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-61-YtooAH {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a8-YtooAH {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .a9-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-62-xsGFJf {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a9-xsGFJf {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.spider-man-no-way-home .a10-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-63-AEBaEo {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a10-AEBaEo {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .a11-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-59-c4vuYL {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a11-c4vuYL {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.spider-man-no-way-home .a12-Ux4Uas {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.spider-man-no-way-home .rectangle-60-8Ku0MB {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.spider-man-no-way-home .a12-8Ku0MB {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}
