/*-----Movie Part-----*/

#Movie-Banner{
  position: absolute;
  height: 40%;
  width: auto;
  top: 30%;
  left: 5%;
}
#Movie-Name{
  font-size: 2.5em;
  color: #ffffff;
  position: absolute;
  top: 35%;
  left: 20%;
}
#Movie-Genre{
  font-size: 1em;
  color: #ffffff;
  position: absolute;
  top: 44%;
  left: 20%;
}
#Movie-Desc{
  font-size: 1.5em;
  color: #ffffff;
  position: absolute;
  top: 49%;
  left: 20%;
}