/* screen - staff-login-page-for-staff-sun */

.staff-login-page-for-staff-sun {
  background-color: var(--black);
  height: 1024px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1960px;
}

.staff-login-page-for-staff-sun .navbar-fAAqTE {
  background-color: transparent;
  height: 164px;
  left: -3px;
  position: absolute;
  top: -25px;
  width: 1963px;
}

.staff-login-page-for-staff-sun .nav_background-2axGJ2 {
  background-color: var(--tundora-2);
  height: 101px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  width: 1963px;
}

.staff-login-page-for-staff-sun .rectangle-36-2axGJ2 {
  background-color: var(--tundora);
  height: 94px;
  left: 185px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 123px;
}

.staff-login-page-for-staff-sun .rectangle-37-2axGJ2 {
  background-color: var(--tundora);
  height: 64px;
  left: 329px;
  mix-blend-mode: normal;
  position: absolute;
  top: 32px;
  width: 132px;
}

.staff-login-page-for-staff-sun .ellipse-1-2axGJ2 {
  background-color: var(--mist-gray);
  border-radius: 58.5px/43px;
  height: 86px;
  left: 1830px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 117px;
}

.staff-login-page-for-staff-sun .movie-logo-2axGJ2 {
  background-color: transparent;
  height: 139px;
  left: 10px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 164px;
}

.staff-login-page-for-staff-sun .background-picture-fAAqTE {
  background-color: transparent;
  height: 924px;
  left: 16px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 1928px;
}

.staff-login-page-for-staff-sun .group-21-fAAqTE {
  background-color: transparent;
  height: 803px;
  left: 584px;
  position: absolute;
  top: 181px;
  width: 799px;
}

.staff-login-page-for-staff-sun .rectangle-29-0tMESk {
  background-color: var(--tundora);
  height: 803px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 793px;
}

.staff-login-page-for-staff-sun .fill-in-password-0tMESk {
  background-color: var(--mist-gray);
  height: 63px;
  left: 112px;
  mix-blend-mode: normal;
  position: absolute;
  top: 450px;
  width: 565px;
}

.staff-login-page-for-staff-sun .password-0tMESk {
  background-color: transparent;
  height: auto;
  left: 96px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 386px;
  width: 160px;
}

.staff-login-page-for-staff-sun .fill-in-email-0tMESk {
  background-color: var(--mist-gray);
  height: 63px;
  left: 112px;
  mix-blend-mode: normal;
  position: absolute;
  top: 300px;
  width: 565px;
}

.staff-login-page-for-staff-sun .staff-id-0tMESk {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 246px;
  width: 116px;
}

.staff-login-page-for-staff-sun .group-40-0tMESk {
  background-color: transparent;
  cursor: pointer;
  height: 55px;
  left: 307px;
  position: absolute;
  top: 560px;
  width: 174px;
}

.staff-login-page-for-staff-sun .log-in-button-y4c5xU {
  background-color: var(--gold-tips);
  height: 55px;
  left: 8px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 159px;
}

.staff-login-page-for-staff-sun .log-in-y4c5xU {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 172px;
}

.staff-login-page-for-staff-sun .staff-sign-up-0tMESk {
  background-color: transparent;
  height: auto;
  left: 280px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 164px;
  width: 232px;
}

.staff-login-page-for-staff-sun .movie-logo-0tMESk {
  background-color: transparent;
  height: 164px;
  left: 314px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 164px;
}
