:root { 
  --black: #000000;
  --gamboge: #e1a305;
  --gargoyle-gas: #ffe350;
  --gold: #ffd700;
  --gold-tips: #d5b927;
  --green: #07ba03;
  --mist-gray: #c4c4c4;
  --quill-gray: #d6d3d3c7;
  --red-orange: #ff3535;
  --rose-white: #fff7f7;
  --tundora: #474646;
  --tundora-2: #474545;
  --white: #ffffff;
 
  --font-size-l: 48px;
  --font-size-m: 40px;
  --font-size-s: 36px;
  --font-size-xl: 64px;
  --font-size-xs: 30px;
  --font-size-xxs: 24px;
  --font-size-xxxs: 20px;
 
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-zcool_qingke_huangyou: "ZCOOL QingKe HuangYou", Helvetica;
}
.roboto-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-gold-40px {
  color: var(--gold);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-64px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-rose-white-30px {
  color: var(--rose-white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-48px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-rose-white-60px {
  color: var(--rose-white);
  font-family: var(--font-family-roboto);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}

.zcoolqingkehuangyou-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-zcool_qingke_huangyou);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.zcoolqingkehuangyou-normal-white-48px {
  color: var(--white);
  font-family: var(--font-family-zcool_qingke_huangyou);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.zcoolqingkehuangyou-normal-white-96px {
  color: var(--white);
  font-family: var(--font-family-zcool_qingke_huangyou);
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-rose-white-42px {
  color: var(--rose-white);
  font-family: var(--font-family-roboto);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-rose-white-34px {
  color: var(--rose-white);
  font-family: var(--font-family-roboto);
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-black-55px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
}

.zcoolqingkehuangyou-normal-red-orange-48px {
  color: var(--red-orange);
  font-family: var(--font-family-zcool_qingke_huangyou);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.border-1px-gargoyle-gas {
  border: 1px solid var(--gargoyle-gas);
}

.border-1px-white {
  border: 1px solid var(--white);
}

.border-2px-black {
  border: 2px solid var(--black);
}
