/* screen - ultraman-trigger-episode-z */

.ultraman-trigger-episode-z {
  background-color: var(--black);
  height: 3494px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1960px;
}

.ultraman-trigger-episode-z .geed-uf-line-d-1-6zxuik {
  background-color: transparent;
  height: 1313px;
  left: -2px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 100px;
  width: 1960px;
}

.ultraman-trigger-episode-z .geed-uf-line-d-2-6zxuik {
  background-color: transparent;
  height: 2006px;
  left: 30px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1488px;
  width: 1941px;
}

.ultraman-trigger-episode-z .bottom-6zxuik {
  background-color: transparent;
  height: 340px;
  left: 44px;
  position: absolute;
  top: 3003px;
  width: 1872px;
}

.ultraman-trigger-episode-z .view-qbPSFV {
  background-color: var(--mist-gray);
  height: 14px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 223px;
  width: 1872px;
}

.ultraman-trigger-episode-z .icon-facebook-qbPSFV {
  background-color: transparent;
  height: 74px;
  left: 1505px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 266px;
  width: 74px;
}

.ultraman-trigger-episode-z .icon-instagram-qbPSFV {
  background-color: transparent;
  height: 74px;
  left: 1627px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 266px;
  width: 74px;
}

.ultraman-trigger-episode-z .icon-twitter-qbPSFV {
  background-color: transparent;
  height: 74px;
  left: 1764px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 266px;
  width: 74px;
}

.ultraman-trigger-episode-z .group-29-qbPSFV {
  background-color: transparent;
  cursor: pointer;
  height: 113px;
  left: 73px;
  position: absolute;
  top: 0px;
  width: 393px;
}

.ultraman-trigger-episode-z .rectangle-66-lujx27 {
  background-color: var(--gold);
  height: 113px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 391px;
}

.ultraman-trigger-episode-z .back-lujx27 {
  background-color: transparent;
  height: auto;
  left: 139px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: auto;
}

.ultraman-trigger-episode-z .group-30-qbPSFV {
  background-color: transparent;
  cursor: pointer;
  height: 113px;
  left: 1383px;
  position: absolute;
  top: 0px;
  width: 393px;
}

.ultraman-trigger-episode-z .rectangle-66-79jsA9 {
  background-color: var(--gold);
  height: 113px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 391px;
}

.ultraman-trigger-episode-z .confirm-79jsA9 {
  background-color: transparent;
  height: auto;
  left: 125px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: auto;
}

.ultraman-trigger-episode-z .theater-6zxuik {
  background-color: transparent;
  height: 384px;
  left: 103px;
  position: absolute;
  top: 822px;
  width: 1739px;
}

.ultraman-trigger-episode-z .theater-eSS7GW {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.ultraman-trigger-episode-z .rectangle-55-eSS7GW {
  background-color: transparent;
  height: 14px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 75px;
  width: 1727px;
}

.ultraman-trigger-episode-z .ya-theater-eSS7GW {
  background-color: transparent;
  height: auto;
  left: 191px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 156px;
  width: auto;
}

.ultraman-trigger-episode-z .uan-theater-eSS7GW {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 165px;
  width: auto;
}

.ultraman-trigger-episode-z .sun-theater-eSS7GW {
  background-color: transparent;
  height: auto;
  left: 1399px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 156px;
  width: auto;
}

.ultraman-trigger-episode-z .bung-theater-eSS7GW {
  background-color: transparent;
  height: auto;
  left: 772px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 342px;
  width: auto;
}

.ultraman-trigger-episode-z .cheetah-theater-eSS7GW {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 342px;
  width: auto;
}

.ultraman-trigger-episode-z .view-6zxuik {
  background-color: transparent;
  height: 260px;
  left: 103px;
  position: absolute;
  top: 1325px;
  width: 1733px;
}

.ultraman-trigger-episode-z .show-time-xlOFtG {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.ultraman-trigger-episode-z .rectangle-56-xlOFtG {
  background-color: transparent;
  height: 14px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 88px;
  width: 1727px;
}

.ultraman-trigger-episode-z .x5-xlOFtG {
  background-color: transparent;
  height: 97px;
  left: 1453px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.ultraman-trigger-episode-z .rectangle-57-AqGzyr {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.ultraman-trigger-episode-z .x2130-AqGzyr {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.ultraman-trigger-episode-z .x4-xlOFtG {
  background-color: transparent;
  height: 97px;
  left: 1094px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.ultraman-trigger-episode-z .rectangle-57-hnPlsd {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.ultraman-trigger-episode-z .x1900-hnPlsd {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.ultraman-trigger-episode-z .x3-xlOFtG {
  background-color: transparent;
  height: 97px;
  left: 725px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.ultraman-trigger-episode-z .rectangle-57-9vsjiR {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.ultraman-trigger-episode-z .x1630-9vsjiR {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.ultraman-trigger-episode-z .x2-xlOFtG {
  background-color: transparent;
  height: 97px;
  left: 383px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.ultraman-trigger-episode-z .rectangle-57-yFdNKa {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.ultraman-trigger-episode-z .x1400-yFdNKa {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.ultraman-trigger-episode-z .x1-xlOFtG {
  background-color: transparent;
  height: 97px;
  left: 14px;
  position: absolute;
  top: 163px;
  width: 280px;
}

.ultraman-trigger-episode-z .rectangle-57-jAyf5H {
  background-color: transparent;
  border-radius: 30px;
  height: 97px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 278px;
}

.ultraman-trigger-episode-z .x1130-jAyf5H {
  background-color: transparent;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 25px;
  width: auto;
}

.ultraman-trigger-episode-z .top-6zxuik {
  background-color: transparent;
  height: 502px;
  left: 103px;
  position: absolute;
  top: 252px;
  width: 1300px;
}

.ultraman-trigger-episode-z .ultraman-trigger-episode-z-xXJFdK {
  background-color: transparent;
  height: auto;
  left: 425px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 51px;
  width: 869px;
}

.ultraman-trigger-episode-z .rectangle-38-xXJFdK {
  background-color: transparent;
  height: 465px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 365px;
}

.ultraman-trigger-episode-z .group-19-xXJFdK {
  background-color: transparent;
  height: 136px;
  left: 425px;
  position: absolute;
  top: 366px;
  width: 402px;
}

.ultraman-trigger-episode-z .rectangle-49-f3dx6G {
  background-color: var(--gold);
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 400px;
}

.ultraman-trigger-episode-z .available-show-time-f3dx6G {
  background-color: transparent;
  height: auto;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 395px;
}

.ultraman-trigger-episode-z .genre-superhero-sci-fi-xXJFdK {
  background-color: transparent;
  height: auto;
  left: 420px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 778px;
}

.ultraman-trigger-episode-z .movie-description-tw-xXJFdK {
  background-color: transparent;
  height: auto;
  left: 420px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 173px;
  width: 874px;
}

.ultraman-trigger-episode-z .navbar-6zxuik {
  background-color: transparent;
  height: 164px;
  left: 0px;
  position: absolute;
  top: -29px;
  width: 1971px;
}

.ultraman-trigger-episode-z .nav_background-qMDTSx {
  background-color: var(--tundora-2);
  height: 101px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 24px;
  width: 1963px;
}

.ultraman-trigger-episode-z .promotions-qMDTSx {
  background-color: transparent;
  height: auto;
  left: 705px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 255px;
}

.ultraman-trigger-episode-z .rectangle-36-qMDTSx {
  background-color: var(--tundora);
  height: 94px;
  left: 185px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 123px;
}

.ultraman-trigger-episode-z .main-qMDTSx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 185px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 109px;
}

.ultraman-trigger-episode-z .rectangle-37-qMDTSx {
  background-color: var(--tundora);
  height: 64px;
  left: 329px;
  mix-blend-mode: normal;
  position: absolute;
  top: 32px;
  width: 132px;
}

.ultraman-trigger-episode-z .theater-qMDTSx {
  background-color: transparent;
  height: auto;
  left: 495px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 176px;
}

.ultraman-trigger-episode-z .movie-qMDTSx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 329px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 54px;
  width: 132px;
}

.ultraman-trigger-episode-z .ellipse-1-qMDTSx {
  background-color: var(--mist-gray);
  border-radius: 58.5px/43px;
  cursor: pointer;
  height: 86px;
  left: 1830px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 117px;
}

.ultraman-trigger-episode-z .movie-logo-qMDTSx {
  background-color: transparent;
  height: 135px;
  left: 10px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 164px;
}

.ultraman-trigger-episode-z .seat-6zxuik {
  background-color: transparent;
  height: 1065px;
  left: 110px;
  position: absolute;
  top: 1689px;
  width: 1734px;
}

.ultraman-trigger-episode-z .seat-SbCxcZ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.ultraman-trigger-episode-z .rectangle-56-SbCxcZ {
  background-color: transparent;
  height: 14px;
  left: 5px;
  mix-blend-mode: normal;
  position: absolute;
  top: 91px;
  width: 1727px;
}

.ultraman-trigger-episode-z .seat-normal-1-SbCxcZ {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 172px;
  width: 1692px;
}

.ultraman-trigger-episode-z .f1-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-DnntCc {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f1-DnntCc {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .f2-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-JjgxCy {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f2-JjgxCy {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .f3-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-3kU9VP {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f3-3kU9VP {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .f4-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-YWws0O {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f4-YWws0O {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .f5-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-64-HJvu3a {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f5-HJvu3a {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .f6-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .f6-HckwmP {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f6-m0pGFr {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .f7-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-J13hxk {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f7-J13hxk {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .f8-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-61-Hwb0bd {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f8-Hwb0bd {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .f9-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-62-k2HauS {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f9-k2HauS {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.ultraman-trigger-episode-z .f10-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-63-MQopyb {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f10-MQopyb {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .f11-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-59-R8hpkN {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f11-R8hpkN {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .f12-PhVQbJ {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-0nAa19 {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .f12-0nAa19 {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .seat-normal-2-SbCxcZ {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 332px;
  width: 1692px;
}

.ultraman-trigger-episode-z .e1-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-Cpqsnf {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e1-Cpqsnf {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .e2-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-zy38dc {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e2-zy38dc {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .e3-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-s2hgAn {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e3-s2hgAn {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .e4-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-xjXiqt {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e-xjXiqt {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .e5-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-64-KE1NGn {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e5-KE1NGn {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .e6-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .f6-J0BKyJ {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e6-J0BKyJ {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .e7-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-MibYt9 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e-MibYt9 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .e8-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-61-DX8zkl {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e8-DX8zkl {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .e9-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-62-cy573F {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e9-cy573F {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.ultraman-trigger-episode-z .e10-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-63-mZQWos {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e10-mZQWos {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .e11-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-59-2BSbj7 {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e11-2BSbj7 {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .e12-WQVljD {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-XGhDIH {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .e12-XGhDIH {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .seat-normal-3-SbCxcZ {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 492px;
  width: 1692px;
}

.ultraman-trigger-episode-z .d1-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-Wv8UWl {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d1-Wv8UWl {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .d2-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-7mYlkV {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d2-7mYlkV {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .d3-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-Z5gqo2 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d3-Z5gqo2 {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .d4-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-NiFxu2 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d4-NiFxu2 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .d5-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-64-9N3dfc {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d5-9N3dfc {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .d6-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .f6-uwh5hA {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d6-uwh5hA {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .d7-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-uUTr9A {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d-uUTr9A {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .d8-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-61-CgpdoL {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d8-CgpdoL {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .d9-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-62-xxTDIp {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d9-xxTDIp {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.ultraman-trigger-episode-z .d10-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-63-xXZCUa {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d10-xXZCUa {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .d11-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-59-R4LnNX {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d11-R4LnNX {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .d12-6w0Xos {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-lSxcCk {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .d13-lSxcCk {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .seat-normal-4-SbCxcZ {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 652px;
  width: 1692px;
}

.ultraman-trigger-episode-z .c1-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-9cmFKT {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c1-9cmFKT {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .c2-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-gVsJFn {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c2-gVsJFn {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .c3-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-mAnpvm {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c3-mAnpvm {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .c4-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-9xcwGH {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c4-9xcwGH {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .c5-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-64-6Y432z {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c5-6Y432z {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .c6-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .f6-M8O0Ls {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c6-M8O0Ls {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .c7-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-U05RlM {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c7-U05RlM {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .c8-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-61-URfrKG {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c8-URfrKG {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .c9-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-62-ydBuuR {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c9-ydBuuR {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.ultraman-trigger-episode-z .c10-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-63-NyCKfR {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c10-NyCKfR {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .c11-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-59-pJKXDM {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c11-pJKXDM {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .c12-rIRVGk {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-fffDrx {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .c12-fffDrx {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .seat-normal-5-SbCxcZ {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 812px;
  width: 1692px;
}

.ultraman-trigger-episode-z .b1-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-xsSdxB {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b1-xsSdxB {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .b2-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-esumgU {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b2-esumgU {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .b3-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-vWaxdN {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b3-vWaxdN {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .b4-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-KeyKAR {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b4-KeyKAR {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .b5-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-64-T7gjrS {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b5-T7gjrS {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .b6-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .f6-cOrlzI {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b6-cOrlzI {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .b7-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-pORx9F {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b7-pORx9F {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .b8-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-61-z5JyEJ {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b8-z5JyEJ {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .b9-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-62-3WxvMH {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b9-3WxvMH {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.ultraman-trigger-episode-z .b10-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-63-MXWlLE {
  background-color: var(--green);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b10-MXWlLE {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .b11-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-59-Gzo2uj {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b11-Gzo2uj {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .b12-hgWIiy {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-mDbRRw {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .b12-mDbRRw {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .seat-normal-6-SbCxcZ {
  background-color: transparent;
  height: 93px;
  left: 17px;
  position: absolute;
  top: 972px;
  width: 1692px;
}

.ultraman-trigger-episode-z .a1-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-QQaABA {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a1-QQaABA {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .a2-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 142px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-JS2jlt {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a2-JS2jlt {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .a3-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 288px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-apdoMJ {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a3-apdoMJ {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .a4-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-58-ETisG9 {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a4-ETisG9 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .a5-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 583px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-64-AXKvs0 {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a5-AXKvs0 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .a6-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 728px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .f6-xLTkn6 {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a6-xLTkn6 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .a7-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 874px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-PkMEXt {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a7-PkMEXt {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .a8-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 1020px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-61-AnGRMw {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a8-AnGRMw {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .a9-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 1167px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-62-jOXVBm {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a9-jOXVBm {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.ultraman-trigger-episode-z .a10-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 1314px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-63-kCaP3J {
  background-color: var(--gamboge);
  border-radius: 20px;
  height: 93px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a10-kCaP3J {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .a11-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 1462px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-59-08u1SC {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a11-08u1SC {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}

.ultraman-trigger-episode-z .a12-iWK7vq {
  background-color: transparent;
  height: 93px;
  left: 1600px;
  position: absolute;
  top: 0px;
  width: 95px;
}

.ultraman-trigger-episode-z .rectangle-60-HKyBow {
  background-color: transparent;
  height: 93px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 93px;
}

.ultraman-trigger-episode-z .a12-HKyBow {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 23px;
  width: auto;
}
